{% extends 'app/layout.html' %}

{% block content %}
<h1>Projetos</h1>
{% if user.is_authenticated %}
    <button>
        <a href="{% url 'projeto_novo' %}">Novo Projeto</a>
    </button>
{% endif %}
{% for projeto in projetos %}
        <div class="card">
            <h3>{{ projeto.nome }}</h3>
            <h4>{{ projeto.descricao }}</h4>
            {% if user.is_authenticated %}
                <button>
                    <a href="{% url 'editar_projeto' projeto.id %}">Editar</a>     
                </button>
                <button>
                    <a href="{% url 'projeto_apagar' projeto.id %}">Apagar</a>
                </button>
            {% endif %}
        </div>
{% endfor %}
{% endblock %}