{% extends 'app/layout.html' %}

{% block content %}

<h1>Videotutoriais</h1>

<h3>Introdução ao Django</h3>

<iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/aircAruvnKk"
    title="Introdução ao Django"
    frameborder="0"
    allowfullscreen>
</iframe>

<br><br>

<h3>Modelos e Views</h3>

<iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/F5mRW0jo-U4"
    title="Modelos e Views"
    frameborder="0"
    allowfullscreen>
</iframe>

{% endblock %}